<div class="modal fade" id="@(Id)" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="min-height: 146px;">
            <div class="modal-header">
                <h1 class="modal-title fs-5">@Title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <CascadingValue Value="this">
                <div @key="ContentComponentRenderFragment">
                    @ContentComponentRenderFragment
                </div>
            </CascadingValue>
        </div>
    </div>
</div>