@using System.ComponentModel.DataAnnotations

<EditForm Model="ValueChangeSubmitModel" Context="formContext">
    <DataAnnotationsValidator />
    <div class="modal-body">
        <InputText @bind-Value="ValueChangeSubmitModel.DesiredValue" type="search" id="wow" class="form-control" placeholder="Desired Value" />
        <ValidationMessage For="() => ValueChangeSubmitModel.DesiredValue" />
    </div>
    <div class="modal-footer border-top-0 pt-0">
        <button @onclick="() => OnSubmit(formContext)" type="submit" class="btn btn-ce-primary" data-bs-dismiss="modal">OK</button>
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
    </div>
</EditForm>