@using System.ComponentModel.DataAnnotations

<EditForm EditContext="EditContext" OnSubmit="OnSubmitAsync">
    <div class="modal-body">
        <InputText @bind-Value="Description" class="form-control" placeholder="Desired Value" />
    </div>
    <div class="modal-footer border-top-0 pt-0">
        <button type="submit" class="btn btn-ce-primary">OK</button>
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
    </div>
</EditForm>