
<EditForm Model="PointerScanOptionsSubmitModel" OnSubmit="OnSubmitAsync">
    <div class="modal-body">
        <InputText @bind-Value="ScanAddress" class="form-control" />
    </div>
    <div class="modal-footer border-top-0 pt-0">
        <button type="submit" class="btn btn-ce-primary">OK</button>
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
    </div>
</EditForm>
