@using System.ComponentModel.DataAnnotations

<EditForm Model="ValueChangeSubmitModel" Context="formContext">
    <DataAnnotationsValidator />
    <div class="modal-body">
        <InputText @bind-Value="ValueChangeSubmitModel.DesiredValue" type="search" class="form-control" placeholder="Desired Value" />
        <ValidationMessage For="() => ValueChangeSubmitModel.DesiredValue" />
    </div>
    <div class="modal-footer border-top-0 pt-0">
        <button @onclick="() => OnSubmitAsync(formContext)" type="submit" class="btn btn-ce-primary">OK</button>
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
    </div>
</EditForm>