@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: "Segoe UI", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    user-select: none;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

[data-bs-theme="dark"] body {
/*    --bs-body-bg: #1c1e1f; Also good*/
}

.removeTableHead .ag-root .ag-header {
    display: none;
}

.ag-cell:focus-within, .ag-cell-focus:focus-within {
    /*    outline: none !important;*/
    /*    border: none !important;*/
    border-color: transparent !important;
}

.ag-theme-quartz, .ag-theme-quartz-dark {
    --ag-grid-size: 5px;
    --ag-list-item-height: 20px;
    --ag-line-height: 20px;
    --ag-row-height: 25px;
    --ag-font-size: 12px;
    --ag-font-family: "Segoe UI";
}

.ag-theme-quartz-dark {
    --ag-header-background-color: var(--bs-gray-800);
    --ag-background-color: var(--bs-gray-900);
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.ag-body-vertical-scroll, .ag-body-vertical-scroll-viewport {
    width: 17px !important;
    max-width: 17px !important;
    min-width: 17px !important;
}

.btn {
    width: 90px;
}