html, body {
    font-family: "Segoe UI", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    user-select: none;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

:root {
    --ce-primary-50: #e0f2f2;
    --ce-primary-100: #b2dfdd;
    --ce-primary-200: #80cbc7;
    --ce-primary-300: #4db6b0;
    --ce-primary-400: #25a69e;
    --ce-primary-500: #00968d;
    --ce-primary-600: #00897f;
    --ce-primary-700: #00796f;
    --ce-primary-700-rgb: 0, 121, 111;
    --ce-primary-800: #016960;
    --ce-primary-900: #024d43;
    --ce-close-button-img: url(../x-lg.svg);
    --ce-close-button-bg: rgba(var(--ce-primary-700-rgb), 0.05);
    /* slim select */
    --ss-main-height: 25px;
    --ss-focus-color: transparent;
    --ss-primary-color: var(--ce-primary-700);
    --ss-disabled-color: var(--bs-secondary-bg);
}

[data-bs-theme=dark] {
    --ce-close-button-img: url(../x-lg-dark.svg);
    --ce-close-button-bg: rgba(var(--ce-primary-700-rgb), 0.3);
    /* slim select */
    --ss-bg-color: var(--bs-body-bg);
    --ss-font-color: var(--bs-body-color);
    --ss-border-color: var(--bs-border-color);
}

@keyframes blink {
    0% {
        background-color: red;
    }

    100% {
        background-color: yellow;
    }
}

.blink-animation {
    animation: blink 1.2s infinite alternate;
}

    .blink-animation:hover {
        animation: none;
    }

.btn-ce-primary {
    /* #802dff , #6d9ba9, #1fafa870*/
    --bs-btn-font-weight: 600;
    --bs-btn-focus-shadow-rgb: 211, 212, 213;
    --bs-btn-color: white;
    --bs-btn-bg: var(--ce-primary-700);
    --bs-btn-border-color: var(--ce-primary-700);
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: var(--ce-primary-500);
    --bs-btn-hover-border-color: var(--ce-primary-500);
    --bs-btn-active-color: white;
    --bs-btn-active-bg: var(--ce-primary-700);
    --bs-btn-active-border-color: var(--ce-primary-700);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: white;
    --bs-btn-disabled-bg: var(--bs-btn-bg);
    --bs-btn-disabled-border-color: var(--bs-btn-bg);
    --bs-btn-disabled-opacity: 0.3;
    border-bottom-color: var(--ce-primary-900);
}

    .btn-ce-primary:hover {
        border-bottom-color: var(--ce-primary-700);
    }

.btn-ce-outline-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--ce-primary-700);
    --bs-btn-border-color: var(--ce-primary-700);
    --bs-btn-hover-color: var(--ce-primary-700);
    --bs-btn-hover-bg: #f3f3f3;
    --bs-btn-hover-border-color: var(--ce-primary-700);
    --bs-btn-active-color: white;
    --bs-btn-active-bg: var(--ce-primary-700);
    --bs-btn-active-border-color: var(--ce-primary-700);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: white;
    --bs-btn-disabled-bg: var(--bs-btn-bg);
    --bs-btn-disabled-border-color: var(--bs-btn-bg);
    --bs-btn-disabled-opacity: 0.3;
    border-bottom-color: var(--ce-primary-800);
}

.form-check-input:checked {
    background-color: var(--ce-primary-700);
    border-color: var(--ce-primary-700);
}

/*.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}*/

.invalid {
    border-color: red !important;
}

    .invalid:focus {
        border-color: red !important;
        box-shadow: rgba(255, 0, 0, 0.25) 0px 3px 0px 0 !important;
    }

.validation-message {
    color: red;
}

fieldset:disabled {
    pointer-events: none;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

[data-bs-theme="dark"] body {
    /*    --bs-body-bg: #1c1e1f; Also good*/
}

.removeTableHead .ag-root .ag-header {
    display: none;
}

.ag-cell:focus-within, .ag-cell-focus:focus-within {
    /*    outline: none !important;*/
    /*    border: none !important;*/
    border-color: transparent !important;
}

.ag-theme-quartz, .ag-theme-quartz-dark {
    --ag-grid-size: 5px;
    --ag-list-item-height: 20px;
    --ag-line-height: 20px;
    --ag-row-height: 25px;
    --ag-font-size: 12px;
    --ag-font-family: "Segoe UI";
    --ag-active-color: var(--ce-primary-700);
}

.ag-theme-quartz-dark {
    --ag-header-background-color: var(--bs-gray-800);
    --ag-background-color: var(--bs-gray-900);
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.ag-body-vertical-scroll, .ag-body-vertical-scroll-viewport {
    width: 17px !important;
    max-width: 17px !important;
    min-width: 17px !important;
}

button {
    cursor: default !important;
}

.btn {
    width: 90px;
}

.btn-icon {
    width: fit-content;
    padding: 2px;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    background-image: var(--ce-close-button-img);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    margin: 0;
    padding: 4px;
    background-position: center;
}

    input[type="search"]::-webkit-search-cancel-button:hover {
        border-radius: var(--bs-border-radius);
        background-color: var(--ce-close-button-bg);
    }

.ss-main:hover:not(.ss-disabled) {
    box-shadow: var(--ce-primary-700) 0 0 1px 1px;
}

.ss-main.ss-disabled {
    --ss-font-color: var(--bs-gray-600);
}

.ss-main, .ss-option {
    cursor: default !important;
}

.ss-option {
    line-height: 13px;
}

.gutter {
    background-color: var(--bs-dark-bg-subtle);
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;
}

    .gutter.gutter-vertical {
        cursor: ns-resize;
    }

        .gutter.gutter-vertical:after {
            content: "";
            display: block;
            height: 9px;
            width: 100%;
            position: absolute;
            top: -3px;
            z-index: 10;
        }

.form-check-input:hover {
    background-size: 16px;
}

    .form-check-input:hover:not(:checked) {
        border-color: #86b7fe;
    }

.form-check-input:focus {
    box-shadow: none;
}

.form-switch .form-check-input:hover:not(:checked), .form-switch .form-check-input:focus:not(:checked) {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2300796f'/%3e%3c/svg%3e");
    border-color: var(--ce-primary-700);
}

.form-control:focus {
    border-color: var(--ce-primary-700);
    box-shadow: rgba(var(--ce-primary-700-rgb), 0.25) 0px 3px 0px 0;
}

.form-control:disabled {
    color: var(--bs-gray-600);
}

.progress {
    --bs-progress-bar-bg: var(--ce-primary-700);
    --bs-progress-bar-transition: width 0.2s ease;
}

.spinner-border {
    border: var(--bs-spinner-border-width) solid lightgray;
    border-right-color: var(--ce-primary-700);
}


.nav-bottom {
    --bs-link-color: var(--ce-primary-700);
    --bs-link-hover-color: var(--ce-primary-500);
    --bs-nav-tabs-link-active-border-color: var(--bs-body-bg) var(--bs-border-color) var(--bs-border-color);
    border-top: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
    border-bottom: none;
}

    .nav-bottom .nav-link {
        margin-top: calc(-1* var(--bs-nav-tabs-border-width));
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        border-bottom-left-radius: var(--bs-nav-tabs-border-radius);
        border-bottom-right-radius: var(--bs-nav-tabs-border-radius);
    }