<ThemeSetter />

<div class="d-flex vh-100">
    <VirtualizedAgGrid @ref="VirtualizedAgGridRef"
                       Items="ScanResultItems"
                       TSource="CelSerEngine.Core.Models.Pointer"
                       TDisplay="PointerScanResultItem"
                       GetRowId="x => x.ModuleNameWithBaseOffset + x.OffsetsDisplayString"
                       GridOptions="GridOptions">
    </VirtualizedAgGrid>
</div>