<ThemeSetter />

<div class="d-flex vh-100">
    <div class="d-flex flex-column flex-grow-1 row-gap-2 m-2">
        <div class="form-group has-search" style="width: 200px;">
            <span class="bi bi-search form-control-feedback"></span>
            <input id="filter-text-field" type="search" class="form-control" placeholder="Search Process">
        </div>
        <div id="myGrid" class="@(ThemeManager.IsDark ? "ag-theme-quartz-dark" : "ag-theme-quartz") flex-grow-1" style="height: 200px"></div>
    </div>
</div>